body {
  background-color: var(--main-color-blue);
}

#content {
  font-family: "montserrat", sans-serif;
  color: var(--main-color-white);
  background-color: var(--main-color-red);
  width: 45%;
  margin: auto;
  margin-top: 10%;
  padding: 75px;
}
