#content table, th, td {
  border: 1px solid var(--main-color-white);
  border-collapse: collapse;
}
#content table tbody tr {
  width: 25px;
  height: 25px;
  margin-bottom: 150px;
}
#content table tbody tr td {
  width: 25px;
}
#center-div hr {
  color: var(--main-color-white);
  width: 20px;
  align-self: center;
}
table {
  margin: 20px;
}
#enemy-table {
  float: left;
}
#player-table {
  float: right;
}
#content {
  overflow: auto;
}
